body {
  margin: 0;
  line-height: normal;
}
.header {
  position: absolute;
  top: 87px;
  left: -14px;
  background-color: var(--color-turquoise-100);
  width: 1468px;
  height: 168px;
}
.youre-saving {
  position: absolute;
  top: 478px;
  left: 749px;
  font-size: 64px;
  font-weight: 800;
  display: inline-block;
  width: 726px;
  height: 63px;
}
.barometer-1-icon {
  position: absolute;
  top: 343px;
  left: 174px;
  width: 562px;
  height: 326px;
  object-fit: cover;
}
.current-earnings,
.expected-budget,
.savings {
  position: absolute;
  top: 729px;
  left: 450px;
  font-weight: 800;
  display: inline-block;
  width: 320px;
  height: 54px;
}
.expected-budget,
.savings {
  top: 891px;
  left: 589px;
}
.expected-budget {
  top: 809px;
  left: 450px;
  width: 364px;
  height: 67px;
}
.txtfieldbudget,
.txtfieldsavings,
.txtfieldsavings1 {
  position: absolute;
  left: 733px;
  border-radius: var(--br-md);
  background-color: var(--color-turquoise-200);
  width: 308px;
  height: 71px;
}
.txtfieldsavings {
  border: 0;
  top: 708px;
}
.txtfieldbudget,
.txtfieldsavings1 {
  top: 794px;
}
.txtfieldsavings1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  top: 876px;
}
.ex,
.logo-icon,
.spend {
  position: absolute;
  top: 107px;
  left: 141px;
  width: 135px;
  height: 123px;
}
.ex,
.spend {
  top: 157px;
  left: 174px;
  font-weight: 800;
  display: inline-block;
  width: 131px;
  height: 61px;
}
.ex {
  top: 159px;
  left: 276px;
  color: var(--color-white);
  width: 77px;
  height: 59px;
}
.dashboard,
.start-budgeting,
.track-month {
  top: 211px;
  font-size: var(--font-size-base);
  width: 189px;
  height: 51px;
}
.dashboard {
  position: absolute;
  left: 752px;
  font-weight: 200;
  color: var(--color-white);
  display: inline-block;
}
.start-budgeting,
.track-month {
  cursor: pointer;
}
.start-budgeting {
  position: absolute;
  left: 900px;
  font-weight: 200;
  display: inline-block;
}
.track-month {
  left: 1112px;
}
.log-out,
.save-quicker-youre-nearing-t,
.track-month {
  position: absolute;
  font-weight: 200;
  display: inline-block;
}
.log-out {
  top: 211px;
  left: 1301px;
  font-size: var(--font-size-base);
  cursor: pointer;
}
.save-quicker-youre-nearing-t {
  top: 557px;
  left: 805px;
  font-size: var(--font-size-lg);
  width: 568px;
  height: 63px;
}
.txtfieldsavings2,
.txtfieldsavings3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 804px;
  left: 750px;
  border-radius: var(--br-md);
  width: 279px;
  height: 54px;
}
.txtfieldsavings3 {
  top: 881px;
  height: 56px;
}
.rs26000 {
  position: absolute;
  top: 889px;
  left: 815px;
  font-weight: 300;
  color: var(--color-turquoise-200);
  display: inline-block;
}
.txtfieldsavings4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 716px;
  left: 750px;
  border-radius: var(--br-md);
  width: 279px;
  height: 54px;
}
.rs118000 {
  top: 721px;
  left: 796px;
  font-size: var(--font-size-2xl);
  font-weight: 300;
  color: var(--color-turquoise-200);
}
.rs118000,
.rs50000,
.welcome-xyz {
  position: absolute;
  display: inline-block;
}
.rs50000 {
  top: 813px;
  left: 806px;
  font-size: var(--font-size-2xl);
  font-weight: 300;
  color: var(--color-turquoise-200);
}
.welcome-xyz {
  top: 428px;
  left: 740px;
  color: var(--color-gray-200);
  width: 402px;
  height: 50px;
}
.desktop-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
